{% extends "commons/base.html" %}
{% load static %}
{% block title %}cart{% endblock title %}
{% block content %}
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">your Cart</h1>
            
        </div>


<section class="food_section layout_padding-bottom">
    <div class="container">
            <div class="filters-content">
                <div class="row grid">
                {% for service in cart_services %}
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                    <div>
                        <div class="img-box">
                            <img src=" {{service.image.url}}" class="rounded mx-auto d-block" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                {{ service.name }}
                            </h5>
                            <p>
                                {{ service.description }}
                            </p>
                        <div class="options">
                            <h6>
                            {{ service.price }}$
                            </h6>
                            <div class="d-flex justify-content-between flex-lg-wrap ">
                            <a href="{% url "examapp:service" service.id %}" class="btn border border-secondary rounded-pill px-4 text-primary">more</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
    </div>
</section>
        {% endblock content %}