{% extends "commons/base.html" %}
{% load static %}
{% block title %}book{% endblock title %}
{% block content %}
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div id="contact" class="container py-5">
              <h3 class="text-center mb-4">Send Me a Message</h3>
              <form id="whatsappForm">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="name" class="form-label">Your Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Jane Doe" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" id="message" rows="4" placeholder="I'm interested in tutoring services or any online exam you might like us to do for you..." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    document.getElementById('whatsappForm').addEventListener('submit', function(e) {
      e.preventDefault();
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const message = document.getElementById('message').value;

      const phoneNumber = '15704456148';
      const text = `Hello, my name is ${name}. My email is ${email}. Message: ${message}`;
      const url = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(text)}`;

      window.open(url, '_blank');
    });
  </script>
  <!-- end book section -->

{% endblock content %}
